/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #5c5454;
    margin: 0;
    padding: 0;
    text-align: center;
}



/* Logo Styling */
img {
    display: block;
    margin: 20px auto;
}

/* Form Styling */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(236, 219, 219, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

h1 {
    font-size: 24px;
    color: #660808;
    margin-bottom: 20px;
    text-align: center; 
}

input, textarea {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Center alignment for the images */
.center-img {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}
